
{% assign blocks = '' | split: '' %}
{% for block in section.blocks %}
    {% capture item %}
        {   'id': '{{ block.id }}',
            'title': '{{ block.settings.title }}',
            'content': '{{ block.settings.content }}',
            'background': '{{ block.settings.background }}',
            'color': '{{ block.settings.color }}'
        }%
    {% endcapture %}
    {% assign item = item | split: ';' %}
    {% assign blocks = blocks | concat: item %}
{% endfor %}

<div
    id="tabs"
    data-blocks="{{ blocks }}"
></div>

<script src="{{ "index.js" | asset_url }}" defer></script>


{% schema %}
{
    "name": "Tabs",
    "settings": [],
    "blocks": [
        {
            "type": "tab",
            "name": "Tab",
            "settings": [
                {
                    "type": "text",
                    "id": "title",
                    "label": "Title",
                    "default": "Tab Title"
                },
                {
                    "type": "textarea",
                    "id": "content",
                    "label": "Content",
                    "default": "Tab Content"
                },
                {
                    "type": "color",
                    "id": "background",
                    "label": "Background Color",
                    "default": "#000000"
                },
                {
                    "type": "color",
                    "id": "color",
                    "label": "Text Color",
                    "default": "#FFFFFF"
                }
            ]
        }
    ]
}
{% endschema %}
