<div id="tabs">
  <header class="grid grid-flow-col auto-cols-fr divide-x shadow-sm">
    {% for block in section.blocks %}
      <button
        class="tab-button py-3 px-4 text-uppercase font-semibold | hover:bg-slate-100"
        data-tab="{{ block.id }}"
        for="{{ block.id }}">
        {{ block.settings.title }}
      </button>
    {% endfor %}
  </header>

  {% for block in section.blocks %}
    <div class="tab-content content p-2 hidden" id="{{ block.id }}">
      {{ block.settings.content }}
    </div>
  {% endfor %}
</div>