{% assign blocks = '' | split: '' %}
{% for block in section.blocks %}
    {% capture item %}
        {   'id': '{{ block.id }}',
            'title': '{{ block.settings.title }}',
            'content': '{{ block.settings.content }}',
            'background': '{{ block.settings.background }}',
            'color': '{{ block.settings.color }}'
        }%
    {% endcapture %}
    {% assign item = item | split: ';' %}
    {% assign blocks = blocks | concat: item %}
{% endfor %}

<div
    id="tabs"
    data-blocks="{{ blocks }}"
></div>

<script src="{{ "index.js" | asset_url }}" defer></script>
